:root {
  --background: #21201d;
  --foreground: #fff9e0;
  --accent: #d3a7ff;
}

header {
  max-height: 100px;
}

.logo {
  background-color: transparent;
  background-image: url("/logo-white.png") !important;
  background-size: contain;
  background-repeat: no-repeat;
  padding: 0px !important;
  width: 300px;
  height: 60px;
}

.header__logo img {
  border: 0;
  padding: 0;
  height: 4rem;
}

.header__logo::after {
  display: none;
}
